<div class="product-show">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <br>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <br>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <br>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Colour:</strong>
    <br>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <br>
    <%= @product.price %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>