<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>THE STORE</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:300,400,500' rel='stylesheet' type='text/css'>

    <!-- CSS-Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

<!-- ===== Navbar ===== -->
    <nav class="header">
      <div class="navigation">
        <ul class="navlist">
          <li id="first-site"><%= link_to "Home", static_pages_index_path %></li>
          <li><%= link_to "About", static_pages_about_path %></li>
          <li><%= link_to "Contact", static_pages_contact_path %></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
        <div>
          <%= form_tag("/products", :method => "get", :class => "searchbox") do %>
            <%= label_tag(:q, "", :id => "searchtext") %>
            <%= text_field_tag(:q, nil, :id => "searchfield") %>
            <%= submit_tag("Search", :id => "searchbutton") %>
          <% end %>
        </div>
      </div>
      <div class="headlines">
        <h1>THE STORE</h1>
        <h2>Experience the place where everything is possible...</h2>
      </div>
    </nav>

<!-- ===== Yield ===== -->    
    <%= yield %>  

<!-- ===== Footer ===== -->
    <footer class="app_footer">
      <div class="footer-content">
        <div class="copyright">
          <p>&copy; THE STORE Ltd. 2015 </p>
        </div>
        <div class="previous-page">
          <%= link_to "Back", :back %>    
         </div>
      </div>
    </footer>

  </body>
</html>
